@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

input {
  height: 40px;
  border: 2px solid rgba(128, 128, 128, 0.716);
  padding: 10px 15px;
}

input:focus {
  outline: none;
  border: 2px solid black;
}

.primary {
  padding: 7px 0;
  border: none;
  color: white;
  background: #d43c00;
}

i {
  cursor: pointer;
}
